name: Build slides in CI

on:
  [push, pull_request]

jobs:
  build:
    runs-on: ubuntu

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt -y upgrade
          sudo apt -y update
          sudo apt install texlive-latex-recommended texlive-latex-extra texlive-fonts-extra texlive-fonts-recommended lmodern make latexmk

      - name: Build slides
        run: cd git && make
