name: Build slides in CI

on:
  [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: apt install texlive-latex-extra latex-beamer texlive-fonts-extra texlive-fonts-recommended lmodern make latexmk

      - name: Build slides
        run: cd git && make
