name: Build slides in CI

on:
  [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Build slides
        uses: xu-cheng/latex-action@v4
        with:
          root_file: discrete-fourier-transform.tex
          texlive_version: 2025
          latexmk_use_lualatex: true

      - name: Archive built PDF document
        uses: actions/upload-artifact@v4
        with:
          name: dft-slides
          path: discrete-fourier-transform.pdf
